{% extends 'base.html' %} {% block body %}
<nav class="navbar navbar-expand-lg bg-dark navbar-light sticky-top p-3">
    <h3 class="text-light"><i class="fas fa-car"></i> Rent-a-Ride</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ml-3">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'post-vehicle' %} "><span class="text-light">Post a
                            ride</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'landing' %} "><span class="text-light">Back</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="card my-4 ">
        <div class="card-body">
            <form action="{% url 'buy-vehicle' %}" method="post">
                {% csrf_token %}
                <div>
                    <h3 class="text-left">Contact Information</h3>
                    <p>Buyer's Name:</p> {{ buy_vehicle.name }}
                    <p>Phone Number:</p> {{ buy_vehicle.p_number }}
                </div>
                <hr>
                <div>
                    <h3 class="text-left">Address</h3>
                    <p>Street Name:</p> {{ buy_vehicle.street }}
                    <p>City:</p> {{ buy_vehicle.city }}
                    <p>State:</p> {{ buy_vehicle.state }}
                    <p>Zip Code:</p> {{ buy_vehicle.z_code }}
                </div>
                <div class="d-flex">
                    <button type="submit" class="btn btn-success mr-3">Submit</button>

            </form>
            <form action="{% url 'landing' %}">
                <button type="submit" class="btn btn-secondary">Home</button>
            </form>
        </div>


    </div>
</div>
</div>
{% endblock body %}