{% extends 'base.html' %} {% block body %}
<nav class="navbar navbar-expand-lg bg-dark navbar-light sticky-top p-3">
    <h1 class="text-light"><i class="fas fa-car"></i></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ml-3">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'post-vehicle' %} "><span class="text-light">Post a
                            ride</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="card my-4 pageColor">
        <div class="card-header">

            <h1 class="text-faded text-center">Avaliable Cars</h1>
            <p class="text-center" >*click car image to see details</p>
            <div class="d-flex float-right">


                <form action="{% url 'post-vehicle' %} ">
                    <button class="btn btn-success" type="submit">Post a ride</button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <div class="carBox">
                <div class="carContainer">
                    {% for car in car_post %}
                    <div class="imgContainer">
                        <p>
                            <a href="{% url 'car-page' car.id %}">
                                <img class="container carImg" src="{{ car.car_img }}" alt="" />
                            </a>
                        </p>
                    </div>

                    {% endfor %} {% endblock body%}
                </div>
            </div>
        </div>
    </div>
</div>