{% extends 'base.html' %} {% block body %}
<nav class="navbar navbar-expand-lg bg-dark navbar-light sticky-top p-3">
    <h3 class="text-light"><i class="fas fa-car"></i> Rent-a-Ride</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ml-3">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'landing' %} "><span class="text-light">Back</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="card my-4">
        <div class="card-body">
            <form action="{% url 'post-vehicle' %}" method="POST">
                {% csrf_token %}
                <p>Image URL:</p> {{post_form.car_img}}
                <p>Cars Year:</p> {{post_form.year}}
                <p>Cars Make:</p> {{post_form.make}}
                <p>Cars Model:</p> {{post_form.model}}
                <p>Cars Price:</p> {{post_form.price}}
                <p>Cars Total Mileage:</p> {{post_form.mileage}}
                <p>Short Description:</p> {{post_form.description}}



                <div class="d-flex">
                    <button class="btn btn-success" type="submit">Submit Post</button>

            </form>
            <form action="{% url 'landing' %}">
                <button class="btn btn-secondary ml-3" type="submit">Back</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock body %}