{% extends 'base.html' %} {% block body %}
<div class="container">
    <div class="card my-4">
        <div class="card-body">
            <form action="{% url 'post-vehicle' %}" method="POST">
                {% csrf_token %}
                <p>Image URL:</p> {{post_form.car_img}}
                <p>Cars Year:</p> {{post_form.year}}
                <p>Cars Make:</p> {{post_form.make}}
                <p>Cars Model:</p> {{post_form.model}}
                <p>Cars Total Mileage:</p> {{post_form.mileage}}


                <div class="d-flex">
                    <button class="btn btn-success" type="submit">Submit Post</button>

            </form>
            <form action="{% url 'landing' %}">
                <button class="btn btn-secondary ml-3" type="submit">Back</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock body %}